{% extends "template.html" %}
{% block content %}
  <h2>Алгоритмики:</h2>
  <br />
  <h4><a href="/algo/factorization">Факторизация числа (разложение на простые множетели).</a></h4>
  <h4><a href="/algo/dividers">Поиск делителей числа.</a></h4>
  <h4><a href="/algo/numsys">Переводы в системах счислений.</a></h4>
  <h4><a href="/algo/BFS">BFS (обход в ширину).</a></h4>
  <h4><a href="/algo/DFS">DFS (обход в глубину).</a></h4>
  <h4><a href="/algo/primesieve">Решето эратосфена.</a></h4>
  <h4><a href="/algo/longnums">Длинная арифметика.</a></h4>
  <h4><a href="/algo/dijkstra">Алгоритм Дейкстры.</a></h4>
  <h4><a href="/algo/DSU">DSU. Система непересекающихся множетсв.</a></h4>
  <h4><a href="/algo/Segment_tree">Древо отрезков.</a></h4>
  <h4><a href="/algo/fenwick">Древо Фенвика.</a></h4>
  <br />
  <h4>Список алгоритмов будет пополняться, следите за обновалениями.</h4>
  <div id="disqus_thread"></div>
  <script>

  var disqus_config = function () {
  this.page.url = 'http://algo.dmitry.cat/algo';
  this.page.identifier = 'algo';
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://dmitryalgo.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
