{% extends "template.html" %}
{% block content %}
<h1>{{ tree.name[1] }}</h1>
<ul>
{%- for item in tree.children recursive %}
    {% if item.children %}
        <li>{{ item.name[1] }}</li>
    {% else %}
        <li><a href="{{ item.name[0] }}">{{ item.name[1] }}</a></li>
    {% endif %}

    {%- if item.children -%}
        <ul>{{ loop(item.children) }}</ul>
    {%- endif %}
{%- endfor %}
</ul>
<br /><br /><br /><br />

<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = 'http://algo.dmitry.cat/tree';
this.page.identifier = 'tree';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://dmitryalgo.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
